PORT=3000
DEBUG_MEDIA_RESOLUTION=false
DOWNLOAD_DIR=./downloads
MAX_DOWNLOAD_SIZE_MB=5000
MAX_CONCURRENT_DOWNLOADS=2
DOWNLOAD_TIMEOUT_MS=3600000
ALLOWED_PAGE_DOMAIN=aryplus.tv
ALLOWED_MEDIA_DOMAINS=vod.aryzap.com
